


.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    border: none;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
}
.bannar-conten{
    max-width: 580px;
}
.bannarer-griting{
font-size: 45px;
font-weight: 600px;
}
.bannarer-taitel{
    font-size: 85px;
    font-weight: bold;
}
.bannar-man{
    width: 584px;
    height: 676px;
}

/* shared style */
.text-3{
    color: #FD6E0A;
}
.dark-2{
    color: #474747
}


/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}


.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.bennar{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.header{
    background-image: url(developer.png), url(header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav ul{
    display: flex;
    align-items: center;
}

nav li a{
    text-decoration: none;
    font-size: 20px;
}