


.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    border: none;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
}
.bannar-conten{
    max-width: 580px;
}
.bannarer-griting{
font-size: 45px;
font-weight: 600px;
}
.bannarer-taitel{
    font-size: 85px;
    font-weight: bold;
}
.bannar-man{
    width: 584px;
    height: 676px;
}

/* shared style */
.text-3{
    color: #FD6E0A;
}
.dark-2{
    color: #474747
}


/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}


.nav-title{
    font-weight: 800;
    font-size: 45px;
}
/* bannare styel start */
.bennar{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.header{
    background-image: url(developer.png), url(header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav ul{
    display: flex;
    align-items: center;
}

nav li a{
    text-decoration: none;
    font-size: 20px;
}
/* bannar style end */

.section-titel{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
}
.secendari-bg{
    background-color: #FFF8F3;
}

.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

main{
    max-width: 1140px;
    margin: 0 auto;
}
.item-description{
    font-weight: 600;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.text-canter{
    text-align: center;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
.section-title{
    text-align: center;
    font-size: 25px;
}
/* resume section styles */
.resume-container{
    display: flex;
    gap: 24px;
}
.experience-sub-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.experience-description, .experience-sub-title{
    color: #757575;
}
.resume hr{
    margin: 30px 5px;
}
.text-center{
    text-align: center;
    margin-top: 50px;
} 
/* footer styles */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer-collamn{
    width: 50%;
}
footer input[type="text"],footer input[type="email"],footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}
.submit{
    margin-top: 20px;
    display: block;
    width: 150px;
    height: 64px;
    background-color: #FD6E0A;
    border-radius: 10px;
}
form textarea{
    width: 461px;
    height: 180px;
}
footer input[type="email"]{
    width: 461px;
    height: 64px;
}













